/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: #FFFAFA;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.center-justify {
  justify-content: center;
}

.center-align {
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
}

.p-16 {
  padding: 16px;
}

.m-16 {
  margin: 16px;
}

.p-4 {
  padding: 4px;
}

.m-4 {
  margin: 4px;
}

.space-between-justify {
  justify-content: space-between;
}
